nav{
    background-color: #333333;
}

nav ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

li{
    padding: 10px;
    padding: 10px;
    transition: background-color 0.2s ease;
}

li a{
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: #555;
    cursor: pointer;
}

nav li:hover a {
    color: yellow;
}

article{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

article>div{
    max-width: calc(33% - 20px); /* AI: szedjem ki */
    flex: 1 0 200px;
    /* flex: 1 1 200px; /* AI mondta */
     
}


.cikk{
    display: flex;
    flex-direction: column;
}

.cikk>.kep, .cikk>h2{
    flex: 0 0 auto;
}

.cikk>p{
    flex: 1 0 auto;
}

.cikk:nth-child(3){
    order: -1;
}