main{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;    
}


header{
    flex: 0 0 100%;
}

nav{
    flex: 0 0 100%;
}

aside{
    flex: 1 0 25%;
}
article{
    flex: 1 0 70%;
}
footer{
    flex: 0 0 100%;
}

nav{
    background-color: #333333;
}

nav ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

li{
    padding: 10px;
    padding: 10px;
    transition: background-color 0.2s ease;
}

li a{
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: #555;
    cursor: pointer;
}

nav li:hover a {
    color: yellow;
}


/* aside{
    display: flex;
    max-width: fit-content;
    flex-direction: column;
    justify-self: end;
}

aside p{
    max-width: 150px;
} */

