nav{
    background-color: #333333;
}

nav ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
}

li{
    padding: 10px;
    padding: 10px;
    transition: background-color 0.2s ease;
}

li a{
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: #555;
    cursor: pointer;
}

nav li:hover a {
    color: yellow;
}

main{
    flex-direction: row-reverse;
}
